@font-face {
  font-family: 'Lato';
  font-display: fallback;
  src: local('~@/assets/fonts/lato/Lato Light'),
    local('~@/assets/fonts/lato/Lato-Light'),
    url('~@/assets/fonts/lato/latolight.woff2') format('woff2'),
    url('~@/assets/fonts/lato/latolight.woff') format('woff'),
    url('~@/assets/fonts/lato/latolight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  font-display: fallback;
  src: local('~@/assets/fonts/lato/Lato Regular'),
    local('~@/assets/fonts/lato/Lato-Regular'),
    url('~@/assets/fonts/lato/latoregular.woff2') format('woff2'),
    url('~@/assets/fonts/lato/latoregular.woff') format('woff'),
    url('~@/assets/fonts/lato/latoregular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  font-display: fallback;
  src: local('~@/assets/fonts/lato/Lato Medium'),
    local('~@/assets/fonts/lato/Lato-Medium'),
    url('~@/assets/fonts/lato/latomedium.woff2') format('woff2'),
    url('~@/assets/fonts/lato/latomedium.woff') format('woff'),
    url('~@/assets/fonts/lato/latomedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  font-display: fallback;
  src: local('~@/assets/fonts/lato/Lato Bold'),
    local('~@/assets/fonts/lato/Lato-Bold'),
    url('~@/assets/fonts/lato/latobold.woff2') format('woff2'),
    url('~@/assets/fonts/lato/latobold.woff') format('woff'),
    url('~@/assets/fonts/lato/latobold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
