@font-face {
  font-family: 'GothamPro';
  src: url('~@/assets/fonts/GothamPro.woff') format('woff');
}
@font-face {
  font-family: 'GTWalsheimPro';
  src: url('~@/assets/fonts/GTWalsheimPro.woff') format('woff');
}
@font-face {
  font-family: 'Proxima Nova Bl';
  src: url('~@/assets/fonts/ProximaNova-Black.woff2') format('woff2'),
    url('~@/assets/fonts/ProximaNova-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova Bl';
  src: url('~@/assets/fonts/ProximaNova-BlackIt.woff2') format('woff2'),
    url('~@/assets/fonts/ProximaNova-BlackIt.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'ProximaNova-Extrabld';
  src: url('~@/assets/fonts/ProximaNova-Extrabld.woff2') format('woff2'),
    url('~@/assets/fonts/ProximaNova-Extrabld.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova-Extrabld';
  src: url('~@/assets/fonts/ProximaNova-ExtrabldIt.woff2') format('woff2'),
    url('~@/assets/fonts/ProximaNova-ExtrabldIt.woff') format('woff');
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: 'ProximaNova';
  src: url('~@/assets/fonts/ProximaNova-Regular.woff2') format('woff2'),
    url('~@/assets/fonts/ProximaNova-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova';
  src: url('~@/assets/fonts/ProximaNova-RegularIt.woff2') format('woff2'),
    url('~@/assets/fonts/ProximaNova-RegularIt.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'ProximaNova';
  src: url('~@/assets/fonts/ProximaNova-Bold.woff2') format('woff2'),
    url('~@/assets/fonts/ProximaNova-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova';
  src: url('~@/assets/fonts/ProximaNova-BoldIt.woff2') format('woff2'),
    url('~@/assets/fonts/ProximaNova-BoldIt.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'ProximaNova';
  src: url('~@/assets/fonts/ProximaNova-Semibold.woff2') format('woff2'),
    url('~@/assets/fonts/ProximaNova-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova';
  src: url('~@/assets/fonts/ProximaNova-SemiboldIt.woff2') format('woff2'),
    url('~@/assets/fonts/ProximaNova-SemiboldIt.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'ProximaNova';
  src: url('~@/assets/fonts/ProximaNova-Light.woff2') format('woff2'),
    url('~@/assets/fonts/ProximaNova-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova';
  src: url('~@/assets/fonts/ProximaNova-LightIt.woff2') format('woff2'),
    url('~@/assets/fonts/ProximaNova-LightIt.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'ProximaNova';
  src: url('~@/assets/fonts/ProximaNovaT-Thin.woff2') format('woff2'),
    url('~@/assets/fonts/ProximaNovaT-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova';
  src: url('~@/assets/fonts/ProximaNova-ThinIt.woff2') format('woff2'),
    url('~@/assets/fonts/ProximaNova-ThinIt.woff') format('woff');
  font-weight: 100;
  font-style: italic;
}
