html {
  box-sizing: border-box;
  font-family: 'Lato';
  // font-family: 'Lato', sans-serif;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  overflow-x: hidden;
}
body {
  width: 100%;
  min-width: 320px;
}
a {
  text-decoration: none;
}
a,
button {
  cursor: pointer;
}
a,
button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
