html {
  box-sizing: border-box;
  font-family: 'ProximaNova', -apple-system, BlinkMacSystemFont, 'Montserrat', sans-serif;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  height: auto;
  overflow: auto;
}
body {
  width: 100%;
  min-width: 1140px;
}
a {
  text-decoration: none;
}
a,
button {
  cursor: pointer;
}
a,
button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
